/* Base File from https://codepen.io/BendyWendy/pen/pbyxxz */
* {
    margin: 20px auto;
  }
  
  div {
    margin-bottom: 0px;
  }
  
  p {
    text-align: center;
    padding: 40px 0px 0px 10px;
    font-family: helvetica;
  }
  
  .Red {
    width: 100px;
    height: 100px;
    background: #FF0000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .Yellow {
    width: 100px;
    height: 100px;
    background: #FFFF00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .Green {
    width: 100px;
    height: 100px;
    background: #00FF00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .rectangle {
    width: 200px;
    height: 400px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:-1;
  }
  
  
  
  